.App {
  text-align: center;
  overflow: hidden,
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#txt1 {
  margin: 0;
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
  display: none;
}

#formDesp {
  padding-left: 20px;
  margin: 100px;
}

.labelTxt {
  padding-right: 10px;
}